<div class="jumbotron">
  <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/040.webp');
      height: 350px;
    ">
    <div class="mask  pt-3 pb-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Welcome to the J3-Photo Management App!</h1>
          <h4 class="mb-3">You'll love managing your Photos with our application. Sign up!</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
  <hr class="my-4">
</div>
<div class="row pb-3">
  <div class="col-sm-3 text-center rounded mx-auto d-block">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Premium Plan</h5>
        <p class="card-text">Price: $10</p>
        <ul class="list-group pt-3 pb-3">
          <li class="list-group-item">Unlimited Image Uploads</li>
          <li class="list-group-item">Responsible Design</li>
          <li class="list-group-item">Access Anywhere</li>
        </ul>
        <a href="#" class="btn btn-primary">Go Premium</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 text-center rounded mx-auto d-block">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Amaze Plan</h5>
        <p class="card-text"> Price: $20</p>
        <ul class="list-group pt-3 pb-3">
          <li class="list-group-item">Unlimited Image Uploads</li>
          <li class="list-group-item">Responsible Design</li>
          <li class="list-group-item">Access Anywhere</li>
          <li class="list-group-item">Unlimited Projects</li>
        </ul>
        <a href="#" class="btn btn-primary">Go Amaze</a>
      </div>
    </div>
  </div>
</div>
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Copyright -->
  <div class="text-center text-muted pt-2 pb-2" style="background-color: rgba(95, 93, 93, 0.03);">
    © 2023 Copyright:
    <a class="text-muted" href="https://medium.com/jungletronics"> jungletronics </a>
  </div>
  <!-- Copyright -->
</footer>
